---
import BaseLayout from "@layouts/BaseLayout.astro";

import { Image } from "astro:assets";

const pageTitle: string = "LINC: Get help for rent in Fort Bend!";

import tgfLogo from '@assets/images/tgf-logo.png'
---

<BaseLayout pageTitle={pageTitle}>
  <main data-page="index">
    <section>
      <div class="container">
        <p>
          The George Foundation is proud to serve as the founding catalyst of Fort Bend LINC—an innovative, community-driven initiative designed to streamline access to rental, mortgage, and utility assistance for residents across Fort Bend County. Recognizing housing stability as a cornerstone of economic resilience, the Foundation launched this effort in partnership with Connective and a coalition of nonprofit, faith-based, and public sector organizations.
        </p>
        <p>
          Using a human-centered design process, The George Foundation led early efforts to identify gaps in the existing support system, elevate the voices of those most impacted, and co-create a coordinated, client-focused solution. These efforts have resulted in the development of a new housing stability blueprint and the creation of a centralized platform that simplifies applications, increases efficiency, and connects residents to essential resources with dignity and speed.
        </p>
        <p>
          Through LINC, we envision a future where all Fort Bend residents—especially renters—can more easily access the help they need, avoid eviction, and remain stably housed.
        </p>
        <p>
          Fort Bend LINC is currently composed of various Fort Bend nonprofit and public sector organizations that are working together to provide financial and other assistance to families in Fort Bend.
        </p>
        <Image src={tgfLogo} alt=""/>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
section {
  min-height: 700px;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

section p {
  font-size: 20px;
}

.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  padding: 1rem;
}

.hero-photo-grid {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

.hero-photo-grid--item {
  margin-bottom: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: hsla(var(--linc--green--dark--hs), 20%, 1);
}

.hero {
  /* background-image: var(--family); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  background-color: rgba(var(--linc--green--rgb), 1);
}

/* .hero h1 {
  color: var(--linc--green--dark);
} */

[data-page=index] [role="button"] {
  border-width: 4px;
  transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition), transform var(--pico-transition);
}

[data-page=index] [role="button"]:hover {
  transform: translate(-4px, -4px);
}

[data-page=index] [role="button"].primary {
  background-color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
  color: var(--white);
}

[data-page=index] [role="button"].primary:hover {
  box-shadow: 4px 6px 0 hsla(var(--linc--purple--hs), 20%, 1);
}

[data-page=index] [role="button"].outline {
  background-color: rgba(var(--white--rgb, 0.5));
  color: hsla(var(--linc--purple--hs), 50%, 1);
  border-color: hsla(var(--linc--purple--hs), 50%, 1);
}

[data-page=index] [role="button"].outline:hover {
  box-shadow: 4px 4px 0 hsla(var(--linc--purple--hs), 50%, 1);
}

/* .hero > div {
  background-color: rgba(var(--linc--green--rgb), 0.8);
  backdrop-filter: blur(10px);
} */

.headline em {
  text-decoration: underline;
}

#why-linc {
  background-color: var(--seashell);
}
#why-linc .content {
  text-align: right;
}
#why-linc .headline {
  text-align: center;
}
#why-linc h1 {
  color: var(--linc--green--dark);
}
#why-linc h3 {
  color: var(--linc--green);
}
#why-linc > div > h1 {
  margin-top: 2rem;
}

#get-started {
  background-color: var(--seashell);
}
#get-started .content {
  text-align: left;
}
#get-started .headline {
  text-align: center;
}
#get-started h1 {
  color: var(--linc--green--dark);
}
#get-started h3 {
  color: var(--linc--green);
}
#get-started > div > h1 {
  margin-top: 2rem;
}

#whats-next {
  background-color: var(--linc--green);
}

#how-it-works .intro {
  text-align: center;
}

.steps {
  counter-reset: primary 0;
}

.step--label::before {
  counter-increment: primary;
  content: counter(primary)". ";
}

/* #how-it-works img {
  outline: var(--t) solid var(--linc--green);
}
#how-it-works p {
  color: var(--white);
}
#how-it-works h1 {
  color: var(--linc--green);
}
#how-it-works h3 {
  color: var(--linc--green);
} */


@media (min-width:576px) {
  .hero-photo-grid--sibling {
    max-width:405px;
    padding-right:0;
    padding-left:0
  }
}
@media (min-width:768px) {
  .hero-photo-grid--sibling {
    max-width:350px
  }
}
@media (min-width:1024px) {
  .hero-photo-grid--sibling {
    max-width:475px
  }
}
@media (min-width:1280px) {
  .hero-photo-grid--sibling {
    max-width:600px
  }
}
@media (min-width:1536px) {
  .hero-photo-grid--sibling {
    max-width:725px
  }
}
</style>