---
import VeryBasicLayout from "@layouts/VeryBasicLayout.astro";
import LincLogo from "@components/LincLogo.astro";
const pageTitle: string = "LINC: Logos";
---

<VeryBasicLayout pageTitle={pageTitle}>
  <main class="container" data-page="logos">
        <div class="grid">
            <div>
                <div id="logo-1">
                    <LincLogo/>
                </div>
                <div id="logo-2">
                    <LincLogo/>
                </div>
            </div>
            <div>
                <div id="logo-3">
                    <LincLogo/>
                </div>
                <div id="logo-4">
                    <LincLogo/>
                </div>
            </div>
            <div>
                <div id="logo-5">
                    <LincLogo/>
                </div>
                <div id="logo-6">
                    <LincLogo/>
                </div>
            </div>
        </div>
    </main>
</VeryBasicLayout>