---
import { Icon } from "astro-icon/components";
import Social from "./Social.astro";
---

<footer>
  <div class="container">
    <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '|';">
      <ul>
        <li>
          <a href="">Why LINC</a>
        </li>
        <li>
          <a href="">How it works</a>
        </li>
        <li>
          <a href="">What's next</a>
        </li>
        <li>
          <a href="">Who we are</a>
        </li>
        <li>
          <a href="">For Landlords</a>
        </li>
        <li>
          <a href="">FAQs</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
