---
const currentLocale = Astro.currentLocale;
const localeToLang = {
    en: {
        label: 'English',
        path: '',
    },
    es: {
        label: 'Spanish',
        path: '/es',
    },
}
---

<select
  id="language-picker"
  aria-label="Select language"
>
  {Object.entries(localeToLang).map(([locale, settings]) => {
    return (
      <option value={locale} selected={currentLocale === locale}>
        {settings.label}
      </option>
    );
  })}
</select>
<script>
    import "../scripts/language-picker.js";
</script>
<style>
select {
    width: auto;
    font-size: 12px;
    --pico-form-element-spacing-horizontal: 0.75rem;
    --pico-form-element-spacing-vertical: 0.25rem;
    margin: 0 0 0 0.5rem;

    background-color: transparent;
    color: var(--linc--green--dark);
    border-color: var(--linc--green--dark);
}
</style>