---
import ThemeIcon from "./ThemeIcon.astro";
import NavigationItem from "./NavigationItem.astro";
---

<ul class="nav-links">
  <NavigationItem href="/#why-linc">Why LINC?</NavigationItem>
  <NavigationItem href="/#how-it-works">How it works</NavigationItem>
  <NavigationItem href="/#get-started">Get started</NavigationItem>
  <NavigationItem href="/#whats-next">What's next</NavigationItem>
  <NavigationItem href="/preview">About</NavigationItem>
  <!-- <NavigationItem href="/preview/">Style Guide</NavigationItem> -->
  <!-- <li><a href="/projects/" class="contrast">Projects</a></li>
  <li><a href="/about/" class="contrast">About</a></li> -->
</ul>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: var(--pico-primary-background);
    display: none;
    margin: 0;
  }

  .expanded {
    display: grid;
  }

  @media screen and (min-width: 1024px) {
    .nav-links {
      margin-left: 5em;
      display: flex;
      position: static;
      width: auto;
      background: none;
      align-items: flex-end;
    }

    /* .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    } */
  }
</style>
