---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import LincLogo from "./LincLogo.astro";

const { pathname } = Astro.url;
---
<header>
  <nav class="container nav-wrapper">
    <Hamburger />
    <a href="/linc-demo" aria-current={pathname === "/linc-demo"}><LincLogo/></a>
    <Navigation />
  </nav>
</header>

<script>
  import scrollama from "scrollama";
  const scroller = scrollama();

  const headerEl = document.querySelector('header')

  if (headerEl) {
    headerEl.dataset.scrollDirection = 'up'
    scroller
      .setup({
        step: document.querySelectorAll('main'),
        offset: 0.1,
      })
      .onStepEnter((response) => {
        headerEl.dataset.scrollDirection = response.direction
      })
      .onStepExit((response) => {
        headerEl.dataset.scrollDirection = response.direction
      });
    }
</script>

<style>
  .nav-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
  }

  @media screen and (min-width: 1024px) {
    .nav-wrapper {
      display: flex;
    }
  }
</style>
