---
import Navigation from "./Navigation.astro";
import LincLogo from "./LincLogo.astro";

const { pathname } = Astro.url;
const base_url = `${import.meta.env.BASE_URL}`;
const { currentLocale } = Astro.props;
---
<header>
  <nav class="container-fluid nav-wrapper">
    <a href={`${base_url}${currentLocale}`} aria-current={pathname === base_url}><LincLogo/></a>
    <Navigation currentLocale={currentLocale}/>
  </nav>
</header>

<style>
  .nav-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
  }

  @media (min-width: 576px) {
    .nav-wrapper {
      padding: 1rem;
    }
  }
</style>
