---
import ThemeIcon from "./ThemeIcon.astro";
import NavigationItem from "./NavigationItem.astro";
---

<ul class="nav-links">
  <NavigationItem href="/linc-demo/#why-linc">Why Fort Bend LINC<span class="accent">?</span></NavigationItem>
  <NavigationItem href="/linc-demo/#how-it-works">How it works<span class="accent">.</span></NavigationItem>
  <NavigationItem href="/linc-demo/#get-started">Get started<span class="accent">.</span></NavigationItem>
  <NavigationItem href="/linc-demo/#whats-next">What's next<span class="accent">?</span></NavigationItem>
  <!-- <NavigationItem href="/preview">About</NavigationItem> -->
  <!-- <NavigationItem href="/preview/">Style Guide</NavigationItem> -->
  <!-- <li><a href="/projects/" class="contrast">Projects</a></li>
  <li><a href="/about/" class="contrast">About</a></li> -->
</ul>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: var(--pico-primary-background);
    display: none;
    margin: 0;
  }

  .expanded {
    display: grid;
  }

  @media screen and (min-width: 1024px) {
    .nav-links {
      margin-left: 5em;
      display: flex;
      position: static;
      width: auto;
      background: none;
      align-items: flex-end;
    }

    /* .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    } */
  }
</style>
