---
const base_url = `${import.meta.env.BASE_URL}`;
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
    <link rel="icon" type="image/svg+xml" href={`${base_url}favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <link href={`${base_url}admin/config.yml`} type="text/yaml" rel="cms-config-url" />
  </head>
  <body>
		<!-- Dashboard script-->
		<script is:inline src="https://unpkg.com/decap-cms@^3.4.0/dist/decap-cms.js"></script>
    <!-- <script is:inline src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script> -->
		<!-- netlify identity -->
		<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

		<!-- Customize the netlify identity widget to refresh on logout preventing users from using the cms when not logged in and then seeing an error -->
		<script is:inline>netlifyIdentity.on('logout', () => location.reload());</script>

    <script>
			// @ts-expect-error CMS is defined globally
			// eslint-disable-next-line
      CMS.registerPreviewStyle("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gabarito:wght@400..900&display=swap");
			// @ts-expect-error CMS is defined globally
			// eslint-disable-next-line
      CMS.registerPreviewStyle("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");
			// @ts-expect-error CMS is defined globally
			// eslint-disable-next-line
      CMS.registerPreviewStyle("/admin/style.css");
    </script>

    <!-- <script src="@components/cms/previews.jsx"></script> -->
  </body>
</html>